{% extends 'admin_layout.html' %}
{% block title %}
    Admin-approval
{% endblock %}

{% block styles %}
.table{
    max-width:75%;
    margin:auto;
    border:1px solid black;
    border-radius:10px;
}

.table tbody tr td {
    padding-left: 40px; 
    
}

.table thead th {
    padding-left: 40px; 
    padding-top: 10px;
    padding-bottom: 10px;
}

.table thead th.action-column  {
    text-align:center;
   
}

.action-buttons {
    display: flex;
    justify-content:space-evenly;
    
}


{% endblock %}
   

{% block content %}
<h1 class="text-center mt-5 text-decoration-underline">Requests from professionals </h1>

{% if professionals %}
<table class="table align-middle table-striped-column table-hover table-light mt-5" >
    <thead class="table-dark">
        <tr  class="table-active">
            <th>ID</th>
            <th>Name</th>
            <th>Experience</th>
            <th>Service Name</th>
            <th class="action-column">Action</th>
        </tr>
    </thead>
        {% for professional in professionals %}
        <tr>
            <td>{{ professional.prof_id }}</td>
            <td>{{ professional.username }}</td>
            <td>{{ professional.experience }} years</td>
            <td>{{ professional.service.name }}</td>
            <td class="action-buttons">
                <form method="POST" action="{{ url_for('approve_professional', professional_id=professional.prof_id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-success" onclick="return confirm('Are you sure you want to approve this professional?')">Approve</button>
                </form>
                
                <form method="POST" action="{{ url_for('reject_professional', professional_id=professional.prof_id) }}" style="display:inline;">
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to reject this professional?')">Reject</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h1 class="text-center mt-5">No requests for approval.</h1>
{% endif %}


{% endblock %}

